@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2bd17e;
  --error: #eb5757;
  --background: #093545;
  --foreground: #092c39;
  --text-color: #c3c8d4;
  --input-color: #224957;
  --muted: #767e94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2bd17e;
    --error: #eb5757;
    --background: #093545;
    --foreground: #092c39;
    --text-color: #c3c8d4;
    --input-color: #224957;
    --muted: #767e94;
  }
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
